Playbooks/AccorInvest-Restrict-MDATPFileHash.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Alert_-_Get_incident": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Condition": {
                        "actions": {
                            "Switch": {
                                "cases": {
                                    "Case": {
                                        "actions": {
                                            "HTTP": {
                                                "inputs": {
                                                    "authentication": {
                                                        "audience": "https://api.securitycenter.windows.com/",
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "body": {
                                                        "action": "AlertAndBlock",
                                                        "application": "@{triggerBody()?['ProductName']}",
                                                        "description": "@{body('Alert_-_Get_incident')?['properties']?['Title']}",
                                                        "expirationTime": "@{addDays(triggerBody()?['TimeGenerated'], 90)}",
                                                        "indicatorType": "FileSha1",
                                                        "indicatorValue": "@{items('For_each')?['Value']}",
                                                        "severity": "@{body('Alert_-_Get_incident')?['properties']?['Severity']}",
                                                        "title": "@{guid()}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://api.securitycenter.windows.com/api/indicators"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "case": "SHA1"
                                    },
                                    "Case_2": {
                                        "actions": {
                                            "HTTP_2": {
                                                "inputs": {
                                                    "authentication": {
                                                        "audience": "https://api.securitycenter.windows.com/",
                                                        "type": "ManagedServiceIdentity"
                                                    },
                                                    "body": {
                                                        "action": "AlertAndBlock",
                                                        "application": "@{triggerBody()?['ProductName']}",
                                                        "description": "@{body('Alert_-_Get_incident')?['properties']?['Title']}",
                                                        "expirationTime": "@{addDays(triggerBody()?['TimeGenerated'], 90)}",
                                                        "indicatorType": "FileSha256",
                                                        "indicatorValue": "@{items('For_each')?['Value']}",
                                                        "severity": "@{body('Alert_-_Get_incident')?['properties']?['Severity']}",
                                                        "title": "@{guid()}"
                                                    },
                                                    "method": "POST",
                                                    "uri": "https://api.securitycenter.windows.com/api/indicators"
                                                },
                                                "runAfter": {},
                                                "type": "Http"
                                            }
                                        },
                                        "case": "SHA256"
                                    }
                                },
                                "default": {
                                    "actions": {}
                                },
                                "expression": "@items('For_each')?['Algorithm']",
                                "runAfter": {},
                                "type": "Switch"
                            }
                        },
                        "expression": {
                            "and": [
                                {
                                    "equals": [
                                        "@items('For_each')['Type']",
                                        "filehash"
                                    ]
                                }
                            ]
                        },
                        "runAfter": {},
                        "type": "If"
                    }
                },
                "foreach": "@body('Parse_JSON')",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerBody()?['Entities']",
                    "schema": {
                        "items": {
                            "properties": {
                                "$id": {
                                    "type": "string"
                                },
                                "AadUserId": {
                                    "type": "string"
                                },
                                "Account": {
                                    "properties": {
                                        "$ref": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "Address": {
                                    "type": "string"
                                },
                                "Algorithm": {
                                    "type": "string"
                                },
                                "CommandLine": {
                                    "type": "string"
                                },
                                "CreatedTimeUtc": {
                                    "type": "string"
                                },
                                "CreationTimeUtc": {
                                    "type": "string"
                                },
                                "Directory": {
                                    "type": "string"
                                },
                                "DnsDomain": {
                                    "type": "string"
                                },
                                "ElevationToken": {
                                    "type": "string"
                                },
                                "FileHashes": {
                                    "items": {
                                        "properties": {
                                            "$ref": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "$ref"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                },
                                "Host": {
                                    "properties": {
                                        "$ref": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "HostName": {
                                    "type": "string"
                                },
                                "ImageFile": {
                                    "properties": {
                                        "$ref": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "IsDomainJoined": {
                                    "type": "boolean"
                                },
                                "IsDownloaded": {
                                    "type": "boolean"
                                },
                                "IsPe": {
                                    "type": "boolean"
                                },
                                "IsValid": {
                                    "type": "boolean"
                                },
                                "LastAccessTimeUtc": {
                                    "type": "string"
                                },
                                "LastWriteTimeUtc": {
                                    "type": "string"
                                },
                                "MachineId": {
                                    "type": "string"
                                },
                                "MachineIdType": {
                                    "type": "integer"
                                },
                                "NTDomain": {
                                    "type": "string"
                                },
                                "Name": {
                                    "type": "string"
                                },
                                "ParentProcess": {
                                    "properties": {
                                        "$ref": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                },
                                "ProcessId": {
                                    "type": "string"
                                },
                                "Sid": {
                                    "type": "string"
                                },
                                "SizeInBytes": {
                                    "type": "integer"
                                },
                                "Type": {
                                    "type": "string"
                                },
                                "UPNSuffix": {
                                    "type": "string"
                                },
                                "Url": {
                                    "type": "string"
                                },
                                "Value": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "$id",
                                "Type"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {
                    "Alert_-_Get_incident": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/e5be695c-5b12-4936-862a-d298fc9b88d5/resourceGroups/AZUR-RG-SENTINEL/providers/Microsoft.Web/connections/azuresentinel-Restrict-MDATPFileHash",
                    "connectionName": "azuresentinel-Restrict-MDATPFileHash",
                    "id": "/subscriptions/e5be695c-5b12-4936-862a-d298fc9b88d5/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel-Restrict-MDATPFileHash"
                }
            }
        }
    }
}