Playbooks/AccorInvest-Restrict-MDATPIPAddress3.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Alert_-_Get_incident": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                },
                "runAfter": {
                    "Initialize_IPS": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Compose": {
                "inputs": "@body('Parse_JSON')?['Source IP(s) [Number of attempts]']",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Compose"
            },
            "Execute_JavaScript_Code": {
                "inputs": {
                    "code": "var list = workflowContext.actions.Compose.outputs;\r\n\r\nconst search = 'IP: ';\r\nconst replaceWith = '';\r\n\r\nconst replace1 = list.split(search).join(replaceWith);\r\n\r\nconst searchRegExp = / .*/ig;\r\n\r\nconst replace2 = replace1.replace(searchRegExp, replaceWith);\r\n\r\nconst ips = replace2.split('\\r\\n')\r\n\r\nreturn ips;"
                },
                "runAfter": {
                    "Compose": [
                        "Succeeded"
                    ]
                },
                "type": "JavaScriptCode"
            },
            "For_each_IP_in_the_incident": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://api.securitycenter.windows.com",
                                "clientId": "99e686e0-3be7-418a-8430-056e19d53947",
                                "secret": "VlZ7UHMldm9zMG8/LnwpXjtYcG1dWXB5",
                                "tenant": "cdbe09c1-13a5-4986-99d1-e13ed272ee38",
                                "type": "ActiveDirectoryOAuth"
                            },
                            "body": {
                                "action": "AlertAndBlock",
                                "application": "@{triggerBody()?['ProductName']}",
                                "description": "@{triggerBody()?['AlertDisplayName']}",
                                "expirationTime": "@{addDays(string(triggerbody()['TimeGenerated']), 90)}",
                                "indicatorType": "IpAddress",
                                "indicatorValue": "@{variables('IPAddress')}",
                                "severity": "Medium",
                                "title": "@{guid()}"
                            },
                            "headers": {
                                "Content-type": "application/json"
                            },
                            "method": "POST",
                            "uri": "https://api.securitycenter.windows.com/api/indicators"
                        },
                        "runAfter": {
                            "Set_IPAddress": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Set_IPAddress": {
                        "inputs": {
                            "name": "IPAddress",
                            "value": "@{items('For_each_IP_in_the_incident')}"
                        },
                        "runAfter": {},
                        "type": "SetVariable"
                    }
                },
                "foreach": "@variables('IPS')",
                "runAfter": {
                    "Set_IPS": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Initialize_IPAddress": {
                "inputs": {
                    "variables": [
                        {
                            "name": "IPAddress",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "Initialize_IPS": {
                "inputs": {
                    "variables": [
                        {
                            "name": "IPS",
                            "type": "array",
                            "value": []
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_IPAddress": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerBody()?['ExtendedProperties']",
                    "schema": {
                        "properties": {
                            "Destination Port": {
                                "type": "string"
                            },
                            "Investigation Steps": {
                                "type": "string"
                            },
                            "ProcessedBySentinel": {
                                "type": "string"
                            },
                            "Protocol": {
                                "type": "string"
                            },
                            "Source IP(s) [Number of attempts]": {
                                "type": "string"
                            },
                            "resourceType": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "runAfter": {
                    "Alert_-_Get_incident": [
                        "Succeeded"
                    ]
                },
                "type": "ParseJson"
            },
            "Set_IPS": {
                "inputs": {
                    "name": "IPS",
                    "value": "@json(string(outputs('Execute_JavaScript_Code')['body']))"
                },
                "runAfter": {
                    "Execute_JavaScript_Code": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/e5be695c-5b12-4936-862a-d298fc9b88d5/resourceGroups/AZUR-RG-SENTINEL/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/e5be695c-5b12-4936-862a-d298fc9b88d5/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                }
            }
        }
    }
}