Playbooks/Restrict-MDATPDomain.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "[newGuid()]",
            "type": "string",
            "metadata": {
                "description": "The unique guid for this playbook instance"
            }
        },
        "playbookDisplayName": {
            "defaultValue": "<playbook>",
            "type": "string",
            "metadata": {
                "description": "The friendly name for the playbook that is used in the Gallery or Saved List.  This name must be unique within a resource group."
            }
        },
        "Azure_ServiceAccount": {
            "defaultValue": "<azure_serviceaccount>",
            "type": "string",
            "metadata": {
                "description": "The service account used to run the logic app."
            }
        },
        "AzureSentinelConnectionName": {
            "defaultValue": "azuresentinel",
            "type": "string",
            "metadata": {
                "description": "The azure sentinel connection name used by the logic app."
            }
        },
        "MDATPConnectionName": {
            "defaultValue": "wdatp",
            "type": "string",
            "metadata": {
                "description": "The mdatp connection name used by the logic app."
            }
        },
        "description": {
            "defaultValue": "This playbook will block domain on the machine in Microsoft Defender ATP.",
            "type": "string",
            "metadata": {
                "description": "The logic app description."
            }
        },
        "author": {
            "defaultValue": "thomas couilleaux",
            "type": "string",
            "metadata": {
                "description": "The logic app author."
            }
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[parameters('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "properties": {
                "displayName": "[parameters('Azure_ServiceAccount')]",
                "customParameterValues": {},
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', parameters('AzureSentinelConnectionName'))]"            
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/subscribe"
                            }
                        }
                    },
                    "actions": {
                        "Alert_-_Get_incident": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Parse_JSON')",
                            "actions": {
                                "Condition": {
                                    "actions": {
                                        "Add_comment_to_incident_(V2)": {
                                            "runAfter": {
                                                "HTTP": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "body": {
                                                    "Value": "Domains are blocked in MDATP ."
                                                },
                                                "host": {
                                                    "connection": {
                                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                    }
                                                },
                                                "method": "put",
                                                "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                                            }
                                        },
                                        "HTTP": {
                                            "runAfter": {},
                                            "type": "Http",
                                            "inputs": {
                                                "authentication": {
                                                    "audience": "https://api.securitycenter.windows.com/",
                                                    "type": "ManagedServiceIdentity"
                                                },
                                                "body": {
                                                    "action": "AlertAndBlock",
                                                    "application": "@{triggerBody()?['ProductName']}",
                                                    "description": "@{body('Alert_-_Get_incident')?['properties']?['Title']}",
                                                    "expirationTime": "@{addDays(triggerBody()?['TimeGenerated'], 90)}",
                                                    "indicatorType": "DomainName",
                                                    "indicatorValue": "@{items('For_each')?['Url']}",
                                                    "severity": "@{body('Alert_-_Get_incident')?['properties']?['Severity']}",
                                                    "title": "@{guid()}"
                                                },
                                                "method": "POST",
                                                "uri": "https://api.securitycenter.windows.com/api/indicators"
                                            }
                                        }
                                    },
                                    "runAfter": {},
                                    "expression": {
                                        "and": [
                                            {
                                                "equals": [
                                                    "@items('For_each')['Type']",
                                                    "dns"
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                }
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Parse_JSON": {
                            "runAfter": {
                                "Alert_-_Get_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ParseJson",
                            "inputs": {
                                "content": "@triggerBody()?['Entities']",
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "$id": {
                                                "type": "string"
                                            },
                                            "AadUserId": {
                                                "type": "string"
                                            },
                                            "Account": {
                                                "properties": {
                                                    "$ref": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "Address": {
                                                "type": "string"
                                            },
                                            "Algorithm": {
                                                "type": "string"
                                            },
                                            "CommandLine": {
                                                "type": "string"
                                            },
                                            "CreatedTimeUtc": {
                                                "type": "string"
                                            },
                                            "CreationTimeUtc": {
                                                "type": "string"
                                            },
                                            "Directory": {
                                                "type": "string"
                                            },
                                            "DnsDomain": {
                                                "type": "string"
                                            },
                                            "ElevationToken": {
                                                "type": "string"
                                            },
                                            "FileHashes": {
                                                "items": {
                                                    "properties": {
                                                        "$ref": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "$ref"
                                                    ],
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "Host": {
                                                "properties": {
                                                    "$ref": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "HostName": {
                                                "type": "string"
                                            },
                                            "ImageFile": {
                                                "properties": {
                                                    "$ref": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "IsDomainJoined": {
                                                "type": "boolean"
                                            },
                                            "IsDownloaded": {
                                                "type": "boolean"
                                            },
                                            "IsPe": {
                                                "type": "boolean"
                                            },
                                            "IsValid": {
                                                "type": "boolean"
                                            },
                                            "LastAccessTimeUtc": {
                                                "type": "string"
                                            },
                                            "LastWriteTimeUtc": {
                                                "type": "string"
                                            },
                                            "MachineId": {
                                                "type": "string"
                                            },
                                            "MachineIdType": {
                                                "type": "integer"
                                            },
                                            "NTDomain": {
                                                "type": "string"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "ParentProcess": {
                                                "properties": {
                                                    "$ref": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "ProcessId": {
                                                "type": "string"
                                            },
                                            "Sid": {
                                                "type": "string"
                                            },
                                            "SizeInBytes": {
                                                "type": "integer"
                                            },
                                            "Type": {
                                                "type": "string"
                                            },
                                            "UPNSuffix": {
                                                "type": "string"
                                            },
                                            "Url": {
                                                "type": "string"
                                            },
                                            "Value": {
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "$id",
                                            "Type"
                                        ],
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('AzureSentinelConnectionName'))]",
                                "connectionName": "[parameters('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}