Playbooks/Restrict-MDATPURL.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each": {
                "actions": {
                    "HTTP": {
                        "inputs": {
                            "authentication": {
                                "audience": "https://api.securitycenter.windows.com",
                                "type": "ManagedServiceIdentity"
                            },
                            "body": {
                                "action": "AlertAndBlock",
                                "application": "@{triggerBody()?['ProductName']}",
                                "description": "@{triggerBody()?['AlertDisplayName']}",
                                "expirationTime": "@{addDays(string(triggerbody()['TimeGenerated']), 90)}",
                                "indicatorType": "Url",
                                "indicatorValue": "@{items('For_each')['Url']}",
                                "severity": "Medium",
                                "title": "@{guid()}"
                            },
                            "headers": {
                                "Content-type": "application/json"
                            },
                            "method": "POST",
                            "uri": "https://api.securitycenter.windows.com/api/indicators"
                        },
                        "runAfter": {},
                        "type": "Http"
                    }
                },
                "foreach": "@body('Parse_JSON')",
                "runAfter": {
                    "Parse_JSON": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            },
            "Parse_JSON": {
                "inputs": {
                    "content": "@triggerBody()?['Entities']",
                    "schema": {
                        "items": {
                            "properties": {
                                "$id": {
                                    "type": "string"
                                },
                                "Type": {
                                    "type": "string"
                                },
                                "Url": {
                                    "type": "string"
                                }
                            },
                            "required": [
                                "$id",
                                "Url",
                                "Type"
                            ],
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "runAfter": {},
                "type": "ParseJson"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/e5be695c-5b12-4936-862a-d298fc9b88d5/resourceGroups/AZUR-RG-SENTINEL/providers/Microsoft.Web/connections/azuresentinel-Restrict-MDATPUrl",
                    "connectionName": "azuresentinel-Restrict-MDATPUrl",
                    "id": "/subscriptions/e5be695c-5b12-4936-862a-d298fc9b88d5/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel-Restrict-MDATPUrl"
                }
            }
        }
    }
}