Playbooks/Unblock-MDATPAppExecution.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Alert_-_Get_hosts": {
                "inputs": {
                    "body": "@triggerBody()?['Entities']",
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "post",
                    "path": "/entities/host"
                },
                "runAfter": {
                    "Alert_-_Get_incident": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "Alert_-_Get_incident": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Cases/@{encodeURIComponent(triggerBody()?['SystemAlertId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "For_each": {
                "actions": {
                    "Actions_-_Get_single_machine_action": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['wdatp']['connectionId']"
                                }
                            },
                            "method": "get",
                            "path": "/api/machineactions/@{encodeURIComponent(body('Actions_-_Remove_app_execution_restriction')?['id'])}"
                        },
                        "runAfter": {
                            "Delay": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Actions_-_Remove_app_execution_restriction": {
                        "inputs": {
                            "body": {
                                "Comment": "Unblock App Execution from playbook for Azure Sentinel Incident: @{body('Alert_-_Get_incident')?['properties']?['CaseNumber']} - @{body('Alert_-_Get_incident')?['properties']?['Title']}"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['wdatp']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/api/machines/@{encodeURIComponent(items('For_each')?['MdatpDeviceId'])}/unrestrictCodeExecution"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    },
                    "Add_comment_to_incident_(V2)": {
                        "inputs": {
                            "body": {
                                "Value": "@{items('For_each')?['HostName']} was triggered for unrestrict app execution, the status is @{body('Actions_-_Get_single_machine_action')?['status']} (last update: @{body('Actions_-_Get_single_machine_action')?['lastUpdateDateTimeUtc']})."
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                }
                            },
                            "method": "put",
                            "path": "/Comment/@{encodeURIComponent(triggerBody()?['WorkspaceSubscriptionId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceId'])}/@{encodeURIComponent(triggerBody()?['WorkspaceResourceGroup'])}/@{encodeURIComponent('Incident')}/@{encodeURIComponent(body('Alert_-_Get_incident')?['properties']?['CaseNumber'])}"
                        },
                        "runAfter": {
                            "Actions_-_Get_single_machine_action": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Delay": {
                        "inputs": {
                            "interval": {
                                "count": 5,
                                "unit": "Minute"
                            }
                        },
                        "runAfter": {
                            "Actions_-_Remove_app_execution_restriction": [
                                "Succeeded"
                            ]
                        },
                        "type": "Wait"
                    }
                },
                "foreach": "@body('Alert_-_Get_hosts')?['Hosts']",
                "runAfter": {
                    "Alert_-_Get_hosts": [
                        "Succeeded"
                    ]
                },
                "type": "Foreach"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_response_to_an_Azure_Sentinel_alert_is_triggered": {
                "inputs": {
                    "body": {
                        "callback_url": "@{listCallbackUrl()}"
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                        }
                    },
                    "path": "/subscribe"
                },
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azuresentinel": {
                    "connectionId": "/subscriptions/c3a3408b-632a-4df4-9c92-deded42a7e48/resourceGroups/AccorInvest/providers/Microsoft.Web/connections/azuresentinel",
                    "connectionName": "azuresentinel",
                    "id": "/subscriptions/c3a3408b-632a-4df4-9c92-deded42a7e48/providers/Microsoft.Web/locations/westeurope/managedApis/azuresentinel"
                },
                "wdatp": {
                    "connectionId": "/subscriptions/c3a3408b-632a-4df4-9c92-deded42a7e48/resourceGroups/AccorInvest/providers/Microsoft.Web/connections/wdatp",
                    "connectionName": "wdatp",
                    "id": "/subscriptions/c3a3408b-632a-4df4-9c92-deded42a7e48/providers/Microsoft.Web/locations/westeurope/managedApis/wdatp"
                }
            }
        }
    }
}